body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-image: url("./img/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    display:block;
    color:white;
}
header{
    background-color: rgba(207, 47, 47, 0.8);
    padding-top:5px;
    padding-bottom:5px;
    display: inline-flex;
    width: 100%;
    justify-content: center;   
}
header h2{
    color:white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}
#divForm{
    margin-top:10px;
    padding:20px;
    border-radius: 5px;
    /* background-color: rgba(199, 250, 250,0.7); */
    background-color: rgba(207, 47, 47, 0.8);
    display: inline-block;
}
form label{
    font-weight: bold;
    text-align: left;
}
form hr{
    margin:20px;
    background-color: white;
}
form input {
    border: 0px solid white;
    margin:5px;
    color:rgba(255, 109, 145,0.8);
}
 
form select {
    border: 0px solid white;
    margin:5px;
    color:rgba(255, 109, 145,0.8);
    font-weight: bold;
}  